* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

::selection {
  background: $color-primary-blue;
  color: $color-white;
}

html {
  font-size: $font-size-basic;
}

body {
  background: $color-bg-global;
}

a {
  text-decoration: none;
}

.main {
  overflow-y: scroll;
  height: calc(100vh - 70px);
  padding: 10px 16px;
  margin-top: $height-app-header;
  margin-left: max(150px, 18%);

  & > * {
    position: relative;
    border-radius: 4px;
  }
}
